a {
    color: #00B7FF;
}
.nav {
    /*padding: 30px;*/
    background-color: gray;
}
.navbar{
    background-color: green;
}
.list-group-item {

    margin-bottom: 15px;
    
}
.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}
.nav-container{
    margin-top: 10%;
}
